body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: #2b2c33;
  width: 100%;
  color: white;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue {
  color: #329cc3;
  text-decoration: underline;
}
.header-link {
  
}